<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal Digital</title>
    <link rel="stylesheet" href="../static/web/css/portal.css"> <!-- Enlaza el archivo CSS externo -->
</head>

<body>
        <div class="header">
            <h1 class="welcome">BIENVENIDOS</h1>
            <div class="class-icon">
                <img class="icon" src="../static/web/image/Diseño sin título (3).png" alt="">
            </div>
        
        </div>
    <div class="container">
        <div class="left">
            <h2>AUTISMO+</h2>
            <p>Líder en la educación básica regular</p>
            <button>PORTAL EDUCATIVO</button>
            
        </div>
        <div class="right">
        <div class="portal-container">
            <div class="left-portal">
                <a href="{{ url_for('centro_campus') }}">
                    <div class="portal-div">
                        <h3>CURSOS Y NOTAS</h3>
                    </div>
                </a>

                
                <a href="{{ url_for('solicitudes') }}">
                    <div class="portal-div">
                        <h3>SOLICITUDES Y RECLAMOS</h3>
                    </div>
                </a>

                <a href="{{ url_for('asistencia') }}">
                    <div class="portal-div">
                        <h3>ASISTENCIAS</h3>
                    </div>
                </a>
            </div>

            <div class="right-portal">
                <a href="{{ url_for('historial') }}">
                    <div class="portal-div">
                        <h3>HISTORIAL DE PAGO</h3>
                    </div>
                </a>


                {% if role == 'administrador' %}
                <a href="{{ url_for('add_student') }}">
                    <div class="portal-div">
                        <h3>MATRICULA</h3>
                    </div>
                </a>

                <a href="{{ url_for('student_list') }}">
                    <div class="portal-div">
                        <h3>LISTA DE ESTUDIANTES</h3>
                    </div>
                </a>
                {% endif %}
            </div>
        </div>
        </div>
    
    </div>
    <a href="{{ url_for('logout') }}" class="logout-button"><div class="buttons">Cerrar Sesión </div></a>

    
</body>

</html>